<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Yuan的商品秒杀系统后台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CSS__/font.css">
	<link rel="stylesheet" href="__CSS__/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="__LIB__/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__JS__/xadmin.js"></script>

</head>


<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">Yuan的商品秒杀系统后台</a></div>
        <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{:cookie('username')}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="">个人信息</a></dd>
              <dd><a href="">修改密码</a></dd>
              <dd><a href="/login/logout.html">注销</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="/">前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    
    
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
       {include file="public/menu" /}
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            {__CONTENT__}
        </div>
        <!-- 右侧主体结束 -->
        
    </div>
    <!-- 中部结束 -->
    
    <!-- 背景切换开始 -->
	<div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="__IMG__/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/k.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/l.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="__IMG__/m.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>   
    </div>
    <!-- 背景切换结束 -->
    
    
</body>
</html>